.scrollerArea {
    position: relative;
    margin-top: 6rem;
}

.view {
    background-color: var(--scroller-bg, darkblue);
    overflow-x: hidden;
    max-width: 100%;
}

.view.vertical {
    overflow-y: hidden;
    margin-bottom: 2rem;
}

.wrapper {
    height: 100%;
    position: relative;
}

.slider {
    height: var(--scroller-thumb-thickness, 10px);
    position: relative;
    background-color: var(--scroller-thumb-color, rgba(128, 128, 128, 0.5));
    border-radius: var(--scroller-thumb-radius, 5px);
    user-select: none;
    margin-bottom: var(--scroller-thumb-inset, 3px);
}

.slider.vertical {
    width: var(--scroller-thumb-thickness, 10px);
    margin-bottom: 0;
    margin-right: var(--scroller-thumb-inset, 3px);
}
